<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- FOR DEV ONLY: TO BE DELETED -->
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <ul class="nav nav-tabs">
    <li role="presentation"><a href="/airplanes">Airplanes</a></li>
    <li role="presentation"><a href="/flights">Flights</a></li>
    <li role="presentation"><a href="/search">Search</a></li>
    </ul>
  </div>

  <!-- DEVISE SIGNIN -->
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

  <!-- DEVISE NOTIFICATIONS -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</nav>

  <div id="main">
  <%= yield %>
  </div>

<div id="container">

  <!-- TEMPLATE FOR FLIGHT SEARCH -->
  <script id="flightListView-template" type="text/x-underscore-template">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Flight number</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Date</th>
          <th>Plane</th>
          <th>Seats Available</th>
          <th colspan="3"></th>
        </tr>
      </thead>

    </table>
  </script>

  <script id="individualFlightView-template" type="text/x-underscore-template">
    <h3>This is showing the backbone flights/:id via Backbone</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Flight Number</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Departure Date</th>
          <th>Airplane ID</th>
          <th>Airplane Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{id}}</td>
          <td>{{flight_number}}</td>
          <td>{{origin}}</td>
          <td>{{destination}}</td>
          <td>{{date}}</td>
          <td>{{airplane_id}}</td>
          <td>{{name}}</td>
        </tr>
      </tbody>

    </table>
  </script>

    <script id="individualAirplaneView-template" type="text/x-underscore-template">
    <h3>This is showing the backbone view of the plane for this flight</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rows</th>
          <th>Aisles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>{{rows}}</td>
          <td>{{aisles}}</td>
        </tr>
      </tbody>

    </table>
  </script>

  <!-- DISPLAY SEATING PLAN -->
  <div id="seats">
    <h2>This is the Seating Plan</h2>
  </div>

</div>


</body>
</html>
